<footer class="footer-2 bg-dark text-center-xs">
    <div class="container">
        <div class="bottom-nav-bar text-center hidden-xs hidden-sm">
            <div class="module-group">
                <div class="module">
                    <ul class="menu">
                        <li>
                            <a href="/privacy" target="_self">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="/terms" target="_self">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="#contacts" class="inner-link" target="_self">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="https://developers-alliance.com"><div class="vnu"><img class="image-xxs fade-half" alt="Pic" src="assets/Img/logo-light.webp"></div></a>
            </div>

            <div class="col-sm-4 text-center">
                <span class="fade-half">
                    © Copyright 2024 Developers Alliance LLC
                </span>
            </div>

            <div class="col-sm-4 text-right text-center-xs">
                <ul class="list-inline social-list">
                    <li><a href="https://twitter.com/developersall"><i class="ti-twitter-alt"></i></a></li>
                    <li><a href="https://www.facebook.com/devalliance"><i class="ti-facebook"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/developersall/"><i class="ti-instagram"></i></a></li>
                    <li><a href="https://www.vimeo.com/developersalliance"><i class="ti-vimeo-alt"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>