<footer class="bg-dark">
    <div class="footer-container">
        <div class="footer-grid">
        
            <ul class="footer-menu">
                <li class="footer-link">
                <a href="#contacts" class="inner-link" target="_self">Contact Us</a>
                </li>
            </ul>

            <div class="footer-col logo">
                <a href="https://developers-alliance.com">
                <img class="logo-img" src="assets/Img/logo-light.webp" alt="Developers Alliance Logo" width="33" height="30">
                </a>
            </div>

            <div class="footer-col text">
                <span>© 2024 Developers Alliance LLC</span>
            </div>

            <div class="footer-col social">
                <ul class="social-list">
                    <li>
                      <a href="https://twitter.com/developersall" aria-label="Follow us on Twitter">
                        <i class="ti-twitter-alt" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.facebook.com/devalliance" aria-label="Follow us on Facebook">
                        <i class="ti-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/developersall/" aria-label="Follow us on Instagram">
                        <i class="ti-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.vimeo.com/developersalliance" aria-label="Follow us on Vimeo">
                        <i class="ti-vimeo-alt" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>                  
            </div>

        </div>
    </div>
</footer>
  