<div class="nav-container">
    <nav class="absolute transparent">
        <div class="nav-bar">
            <div class="module left">
                <a href="index.html">
                    {% if page.url != "/" %}
                    <img class="logo logo-light" alt="Developers Alliance" src="assets/Img/logo-light.webp">
                    {% else %}
                    <img class="logo logo-light" alt="Developers Alliance" title="Developers Alliance" src="assets/Img/logo-dark.webp">
                    {% endif %}
                    <img class="logo logo-dark" alt="Developers Alliance" title="Developers Alliance" src="assets/Img/logo-dark.webp">
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                        <li>
                            <a href="/" class="inner-link" target="_self">Home</a>
                        </li>
                        {% if page.url == "/" %}
                        <li>
                            <a href="#magento-extensions" target="_self">Magento Extensions</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="#contacts" class="inner-link" target="_self">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
  </div>