<div class="nav-container">
    <nav class="nav-wrapper absolute transparent">
      <div class="nav-bar">
        <div class="module left">
          <a class="logo-class" href="index.html">
            <img class="logo logo-dark" alt="Developers Alliance" title="Developers Alliance" src="assets/Img/logo-dark.webp">
          </a>
        </div>

        <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
          <i class="ti-menu"></i>
        </div>

        <div class="module-group right">
          <ul class="menu">
            <li>
              <a href="/" class="inner-link" target="_self">Home</a>
            </li>
            <li>
              <a href="#magento-extensions" class="inner-link" target="_self">Magento Extensions</a>
            </li>
            <li>
              <a href="#contacts" class="inner-link" target="_self">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>