<!doctype html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8ZT7CKH3ML"></script>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="We are a community of certified Magento developers. Connect, collaborate, and innovate with us to build seamless e-commerce solutions. Get a quote today."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Developers Alliance">
    <meta name="keywords" content="magento, developers, support, ecommerce, migration, magento 2, adobe commerce, hyva, reactjs, magento docker, magento development, developers alliance, developers-alliance, developersalliance, developers alliance llc, developers alliance georgia, developers alliance">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <link rel="icon" href="{{ site.baseurl }}/assets/Img/logo-light.webp">
    <link rel="preload" href="{{ site.baseurl }}/assets/css/main.css" as="style">
    <link rel="preload" href="{{ site.baseurl }}/assets/fonts/Oswald-Light.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ site.baseurl }}/assets/fonts/Oswald-Heavy.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
    {% include footer.html %}
    <script src="{{ site.baseurl }}/assets/js/jquery-3.7.1.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/script.js"></script>
    <script src="https://widget.clutch.co/static/js/widget.js"></script>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
  </body>
</html>
