<!doctype html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8ZT7CKH3ML"></script>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TLZZN4LZ');</script>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ProfessionalService",
      "name": "Developers Alliance",
      "url": "https://www.developers-alliance.com",
      "logo": "{{ site.baseurl }}/assets/Img/logo-dark.webp",
      "image": "https://images.weserv.nl/?url=developersalliance.github.io/assets/Img/devall-raft-sc.webp&w=500&output=webp&q=100", 
      "description": "Developers Alliance is an international web development company based in Tbilisi, Georgia, specializing in custom web solutions, e-commerce development, SEO, and mobile application development for clients worldwide.",
        "email": "hello@developers-alliance.com", 
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "G. Kuchisvhili Str 10", 
        "addressLocality": "Tbilisi",
        "addressCountry": {
          "@type": "Country",
          "name": "GE" 
        }
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": "41.70866", 
        "longitude": "44.78322"  
      },
      "openingHoursSpecification": [ 
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday"
          ],
          "opens": "11:00",
          "closes": "18:00"
        }
      ],
      "sameAs": [ 
        "https://x.com/developersall",
        "https://www.facebook.com/devalliance",
        "https://www.linkedin.com/company/developers-alliance-com",
        "https://www.instagram.com/developersall/"
      ],
      "hasOfferCatalog": { 
        "@type": "OfferCatalog",
        "name": "Web Development Services",
        "itemListElement": [
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Custom Web Development",
              "description": "Tailored web solutions to meet specific business needs."
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "E-commerce Development",
              "description": "Building robust online stores and e-commerce platforms."
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Mobile App Development",
              "description": "Developing native and cross-platform mobile applications."
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Website Maintenance & Support",
              "description": "Ongoing support and maintenance for websites and applications."
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "SEO audits and improvement",
              "description": "Ongoing support and maintenance for websites and applications."
            }
          }
            ]
      },
      "areaServed": [ 
        {
          "@type": "Country",
          "name": "US" 
        },
        {
          "@type": "Country",
          "name": "GB"     },
        {
          "@type": "Continent", 
          "name": "Europe"
        },
        {
          "@type": "Place", 
          "name": "Worldwide" 
        }
        ],
      "founder": { 
        "@type": "Person",
        "name": "Oskars Tuns" 
      },
      "foundingDate": "2018-08-15" 
    }
    </script>
    <meta name="description" content="We are a community of certified Magento developers. Connect, collaborate, and innovate with us to build seamless e-commerce solutions. Get a quote today."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Developers Alliance">
    <meta name="keywords" content="magento, developers, support, ecommerce, migration, magento 2, adobe commerce, hyva, reactjs, magento docker, magento development, developers alliance, developers-alliance, developersalliance, developers alliance llc, developers alliance georgia, developers alliance">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="./sitemap.xml" />
    <link rel="canonical" href="{{ site.url }}" />
    <link rel="icon" href="{{ site.baseurl }}/assets/Img/logo-light.webp">
    <link rel="preload" href="{{ site.baseurl }}/assets/css/main.css" as="style">
    <link rel="preload" href="{{ site.baseurl }}/assets/fonts/Oswald-Light.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ site.baseurl }}/assets/fonts/Oswald-Heavy.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <title>{% if page.title %}{{ page.title }} | Developers Alliance{% else %}Developers Alliance{% endif %}</title>
  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
    {% include footer.html %}
    <script src="{{ site.baseurl }}/assets/js/jquery-3.7.1.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/script.js"></script>
    <script src="https://widget.clutch.co/static/js/widget.js"></script>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TLZZN4LZ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  </body>
</html>
